<!-- <!DOCTYPE html> -->
<!-- <html> -->
<head>
{% load static %}
<link href="{% static 'tinymce/skins/content/default/content.min.css' %}" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link  href="{% static 'main/css/materialize.css' %}"  rel="stylesheet">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            
<title>Page Title</title>
</head>
<body>

<!-- 
<h1>MySite Tutorials</h1>
<br><hr><br> -->

<!-- {% for tutorial in tutorials %}
<h2>{{tutorial.tutorial_title}}</h2>
{{tutorial.tutorial_content|safe}}
<p>{{tutorial.tutorial_published}}</p>
<br><hr><br>
{% endfor %} -->


{% include "main/includes/navbar.html" %}
{% include "main/includes/message.html" %}
<div class = "container">
  {% block content %} 
  {% endblock %}
</div>
</body>
<script src = "{% static 'tinymce/plugins/code/plugin.min.js' %}"></script>
<script> M.AutoInit();</script>
<!-- </html> -->